*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none
}

body {
  padding: 0 100px;
}

footer {
  margin-top: 25px
}

html {
  box-sizing: border-box;
}

img {
  width: 100%;
}

li {
  line-height: 1.5;
}

#image-container {
  border: 2px solid black;
  padding: 15px;
}

#quote {
  border: 2px solid black;
  padding: 10px 15px;
}

.center {
  text-align: center
}

.margin {
  margin: 25px 0;
}
